.App {
  text-align: center;
}
:root {
  --main-color: #ff7900;
  --second-color: #ffae66;
  --text-color: black;
  --font-medium: 1.5vw;
  --font-small: 1.5vw;
}
body {
  font: var(--font-small) Arial, sans-serif;
  color: var(--text-color);
}
p {
  font-size: var(--font-small);
}
label {
  font-size: var(--font-small);
}
a {
  font-size: var(--font-small);
}
.canvas {
  background-color: var(--second-color);
  padding: 1vw;
  display: none;
}
.content {
  border: .1vw solid var(--text-color);
  height: 8vh;
  width: 100%;
  font-size: var(--font-medium);
  color: var(--text-color);
  background-color: transparent;
  padding: .5vw;
}
.arrayColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 5vw 1vw 5vw;
}
.arrayRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: var(--main-color);
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: var(--font-medium)
}
.selected {
  background-color: var(--second-color);
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
}
.functions {
  display: flex;
  justify-content: space-evenly;
}
.function {
  border: .1vw solid var(--text-color);
  border-radius: 1vw;
  width: 100%;
}
.changed {
  background-color: var(--main-color);
}
.execute {
  font-size: var(--font-small);
  cursor: pointer;
  background-color: var(--main-color);
}
.sectionLabel {
  width: 6vw;
}
.travers {
  display: flex;
  flex-direction: column;
}
.selected::before,.arrayError::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 5vh;
  background-color: gainsboro;
  opacity: .9;
}
.arrayError {
  color: red;
  margin: 1vw;
  position: relative;
}
.left-margin {
  margin-left: 1vw;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.counter {
  width: 4vw;
}
select {
  font-size: 1.5vw;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: radial-gradient(circle, var(--main-color) 0%, var(--second-color) 50%);
  border: .1vh solid var(--text-color);
  margin-top: 1vh;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: radial-gradient(circle, var(--main-color) 0%, var(--second-color) 50%);
  border: .1vh solid var(--text-color);
  padding: 1vh;
}
.layout {
  padding: 1vw;
}
.menuButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: var(--font-medium);
}
.active {
  color: purple;
}